/*-------------------------- Variable ----------------------------------*/
:root {
  --table-col-header-bg-color: #FFFFFF;
  --table-striped-color: #f7f7f7;
  --footer-bg-color: #FEFCFF;
  --border-radius: 3px;
  --sheet-bg-color: #F0F0F0;
  --text-color: #393A3D;
  --corp-color: #0077C5;
  --subtitle-footnote-text-color: #4c4c4c;
}

/*-----Public Resource --> https://github.intuit.com/CTG-Common/Library-CDN ------*/

/*--------- Font Setup ---------*/
@font-face {
    font-family: AvenirNext-Regular;
    src: url(https://lib.intuitcdn.net/fonts/AvenirNext/3.0/AvenirNextforINTUIT-Regular.1.woff) format("woff")
}

@font-face {
    font-family: AvenirNext-Medium;
    src: url(https://lib.intuitcdn.net/fonts/AvenirNext/3.0/AvenirNextforINTUIT-MediumIt.1.woff) format("woff")
}

body, html, .qv-object *, .bright.qv-panel-current-selections .values {
  font-family: AvenirNext-Regular !important;
  color: var(--text-color);
}



.qv-listbox .serverLocked, .qv-listbox .serverSelected, .qv-listbox li.selected {
  background-color: blue;
  color: #FFFFFF !important;
  border-bottom: 1px solid #FFFFFF;
}
.qv-state-count-bar .state.selected, .qv-state-count-bar .state.locked {
  background: blue;
}
