/*-------------------------- Variable ----------------------------------*/
:root {
  --table-col-header-bg-color: #FFFFFF;
  --table-striped-color: #f7f7f7;
  --footer-bg-color: #FEFCFF;
  --border-radius: 3px;
  --sheet-bg-color: #F0F0F0;
  --text-color: #393A3D;
  --corp-color: #0077C5;
  --subtitle-footnote-text-color: #4c4c4c;
}

/*-----Public Resource --> https://github.intuit.com/CTG-Common/Library-CDN ------*/

/*--------- Font Setup ---------*/
@font-face {
    font-family: AvenirNext-Regular;
    src: url(https://lib.intuitcdn.net/fonts/AvenirNext/3.0/AvenirNextforINTUIT-Regular.1.woff) format("woff")
}

@font-face {
    font-family: AvenirNext-Medium;
    src: url(https://lib.intuitcdn.net/fonts/AvenirNext/3.0/AvenirNextforINTUIT-MediumIt.1.woff) format("woff")
}

body, html, .qv-object *, .bright.qv-panel-current-selections .values {
  font-family: AvenirNext-Regular !important;
  color: var(--text-color);
}

.lui-icon, .wizard-button-icon, .lui-search__search-icon {
  font-family: LUI icons !important;
}
.fa {
  font-family: FontAwesome !important;
}

/*---------------------------Sheet---------------------------------*/
.qvt-sheet {
    background-color: var(--sheet-bg-color);
}

/*---------------------------Sheet Title---------------------------------*/
.qv-panel-sheet .sheet-title-container {
  padding: 0;
  height: 36px;
  background: var(--corp-color);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
#sheet-title.sheet-grid {
    margin: 0px 10px 0px 10px;
}

#sheet-title .sheet-title-text{
    background-image: url(https://lib.intuitcdn.net/img/nav/checkball.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    color: #FFFFFF;
    font-family: AvenirNext-Medium !important;
}

/*----------- Sheet Grid --------- */
.sheet-grid .qv-gridcell {
    border: none !important;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.qv-inner-object {
    background-color: #ffffff;
    /*padding: 10px 10px 10px 10px;*/
    border-radius: var(--border-radius);
}

/*-------------State Count Bar -------- */
.qv-state-count-bar .state.selected, .qv-state-count-bar .state.locked {
  background: var(--corp-color);
  
}

/*----------- Listbox selected item ----------*/
/*
.qv-listbox .serverLocked, .qv-listbox .serverSelected, .qv-listbox li.selected {
  background-color: var(--corp-color);
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF !important;
}
*/

/*------------- icon color in current selection bar ------------*/
/*
.qv-panel-current-selections .lui-icon {
  color: var(--corp-color);
}

.qv-panel-current-selections .lui-icon--remove {
color: red;
}
.qv-panel-current-selections .lui-icon--selection-search {
color: blue;
}
.qv-panel-current-selections .lui-icon--selections-back {
color: green;
}
.qv-panel-current-selections .lui-icon--selections-forward {
color: DarkMagenta;
}
.qv-panel-current-selections .lui-icon--clear-selections {
color: LightSalmon;
}
*/

/*---------------------------Hide Smart search, Selection tools, Insights advisor ---------------------------------*/
.qv-panel-current-selections .qv-subtoolbar-button.toggle-button, .touch-on .qv-panel-current-selections .qv-subtoolbar-button.toggle-button {
  display: none;
}

/*------------------------- Table Styling---------------------------*/
.qv-object-content-container .qv-object-content table tr:nth-of-type(even) {
  background: var(--table-striped-color);
}

/*---------------------------Object Footer---------------------------------*/
.qv-object .qv-footer-wrapper {
    background:var(--footer-bg-color) !important;
    border-top: 1px solid #D9D9D9;
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
}
.qv-object-wrapper.has-footnote .qv-inner-object {
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

/*------------ Subtitle, Footnote font color --------------*/
.qv-object .qv-object-footnote, .qv-object .qv-object-subtitle {
    color: var(--subtitle-footnote-text-color) !important;
}

