@font-face {
  font-family: AvenirNextforINTUIT-Regular;
  src: url('https://qliksensestg.a.intuit.net/content/Default/AvenirNextforINTUIT-Regular.otf');
}

.qv-object *, body {
    font-family: AvenirNextforINTUIT-Regular;
}

.qv-panel-current-selections .lui-icon {
color: red;
}

.qv-object-content-container .qv-object-content table tr:nth-of-type(even) {
  background: #F8F8F8;
}
