/*-------------------------- Variable ----------------------------------*/
:root {
  --table-col-header-bg-color: #FFFFFF;
  --table-striped-color: #EBF9FF;
  --footer-bg-color: #FEFCFF;
  --border-radius: 3px;
  --sheet-bg-color: #F0F0F0;
  --text-color: #050506;
  --corp-color: #0077C5;
}

/*--------- Font Setup ---------*/
@font-face {
  font-family: myFont;
  src: url('https://scheav.github.io/QlikSenseCSS/myFont.ttf');
}

body, html, .qv-object *, .bright.qv-panel-current-selections .values {
  font-family: myFont !important;
}

.lui-icon, .wizard-button-icon, .lui-search__search-icon {
  font-family: LUI icons !important;
}
.fa {
  font-family: FontAwesome !important;
}

/*-------------Stage Count Bar -------- */
.qv-listbox .serverLocked, .qv-listbox .serverSelected, .qv-listbox li.selected {
  background-color: var(--corp-color);
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.qv-state-count-bar .state.selected, .qv-state-count-bar .state.locked {
  background: var(--corp-color);
}
/*------------------*/

.qv-panel-current-selections .lui-icon {
  color: var(--corp-color);
}

.qv-object-content-container .qv-object-content table tr:nth-of-type(even) {
  background: var(--table-striped-color);
}
